.project-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.project-content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19%;
  margin-bottom: 10px;
}

.project-content .title img {
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(37, 29, 48);
}
.project-content .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10;
}

.project-content .projects .project {
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  background-color: #16151a;
  border: 1px solid rgba(255, 255, 255, 0.158);
  margin-bottom: 10px;
}
.project-content .projects .project:hover {
  background-color: rgb(36, 37, 41);
  /* background-color: red; */
  cursor: pointer;
}

.project-content .projects .project .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 37, 41);
  /* background-color: red; */
  border-radius: 10px;
  width: 250px;
  height: 200px;
}

.project-content .projects .project .image img {
  height: 180px;
  width: 230px;
  border-radius: 10px;
}

.projects h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  color: white;
}

.projects h2:hover {
  text-decoration: underline;
}

.projects p {
  line-height: 1.8;
  font-weight: 100;
}

/* media queries */
@media (min-width: 320px) and (max-width: 480px) {
  .project-content .title {
    width: 10rem;
  }

  .project-content .projects {
    display: flex;
    flex-direction: column;
  }
  .project-content .projects .project {
    margin-bottom: 20px;
  }
}

@media (min-width: 1281px)  {
  .project-content .title {
    width: 20%;
  }

  .project-content .title h2{
    font-size: 1.5rem;
  }

  .project-content .title img{
    height: 50px;
    width: 50px;
    padding: 5px;
  }

  .project-content .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 10; */
  }
  .project-content .projects .project {
    margin-bottom: 25px;
    width: 90%;
    padding: 5px;
  }

  .project-content .projects .project .image {
    width: 100%;
    /* height: 80%; */
  }

  .project-content .projects .project .image img {
    height: 90%;
    width: 90%;
  }

  .projects h2 {
    font-size: 1.1rem;
  }

  .projects p{
    line-height: 1.2;
  }
}
