.education-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  /* padding: 10px; */

  
}
.education-content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19%;
  margin-bottom: 10px;
}

.education-content .title img {
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(37,29,48);
}

.education-content .educations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 100px;
}

.education-content .educations .education-title {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  border-radius: 10px;
}

.educations .education-title .box {
  width: 40px;
  height: 40px;
  background-color: rgb(44,182,125);
  border-radius: 10px;
}

.educations .education-title .education-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  padding-left: 20px;
}

.educations .education-title .education-desc span {
  color: #c3cacc54;
}

.education-content .certificates {
  display: flex;
  justify-content: space-between;
}

.education-content .certificate {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px;
  justify-content: center;
  border: none;
  height: 150px;
  width: 260px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  border-radius: 10px;
}

.education-content .certificate .cert {
  display: flex;
  background-color: rgb(44,182,125);
  height: 130px;
  width: 250px;
  border-radius: 10px;
}

/* media queries */
@media (min-width: 375px) and (max-width: 480px) {
  .education-content {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    /* padding-bottom: 20px; */
    /* height: 50rem; */
  }

  .education-content .title {
    width: 12rem;
  }

  .education-content .educations {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    height: 160px;
    /* width: 360px; */
  }

  .education-content .educations .education-title {
    width: 260px;
    /* padding: 10px; */
    /* margin-right: 10px; */
  }

  .educations .education-title .box {
    width: 80px;
    height: 50px;
  }

  .education-content .certificates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    height: 30rem;
    padding-bottom: 20px;
    
  }

  .education-content .certificate{
    /* border: none; */
    /* margin-right: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    /* margin-bottom: 15px; */
    /* align-items: center; */
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .education-content{
    /* width: 55%; */
  }
 
  .education-content .title{
    width: 35%;
    
  }
  .education-content .title h2{
    font-size: 1rem;
  }

  .education-content .title img {
    height: 20px;
    width: 20px;
    padding: 5px;
  }

  .education-content .educations .education-title {
    width: 42%;
    height: 20%;
  }

  .educations .education-title .box {
    /* width: 10%; */
    height: 25px;
    width: 80px;
    border-radius: 5px;
  }

  .educations .education-title .education-desc h5{
    /* font-size: 9px; */
  }

  .education-content .certificate{
    width: 85px;
    height: 60px;
  }

  .education-content .certificate .cert{
    /* display: none; */
    /* height: 80px; */
    width: 85px;
  }
}
