.navbar {
  /* margin-top: 130px; */
  height: 40px;
  align-items: center;
}
.navbar .btns {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 80%; 
}

.navbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16151a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
}

.navbar .active{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #6366F1;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
}



.navbar .btn:hover{
  background-color: rgb(37,29,48);
}

.trial{
  display: flex;
  flex-direction: column;
}

/* media queries */
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media(min-width: 320px) and (max-width: 480px){
  .navbar{
    width: 20rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .navbar{
    width: 10rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
}