.navbar {
  /* margin-top: 130px; */
  height: 40px;
  align-items: center;
}
.navbar .btns {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 80%; 
}

.navbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16151a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
}

.navbar .active{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #6366F1;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 15px;
  width: 100px;
  border-radius: 10px;
}



.navbar .btn:hover{
  background-color: rgb(37,29,48);
}

.trial{
  display: flex;
  flex-direction: column;
}

/* media queries */
@media(min-width: 375px) and (max-width: 480px){
  .navbar{
    width: 20rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
}

@media (min-width: 1281px) {
  .navbar {
    /* margin-right: 100px; */
    width: 80px;
    height: 70px;
    align-items: center;
  }
  .navbar .btns {
   width: 80%;
  }
  .navbar .btn{
  
    font-size: 1rem;
    /* padding: 10px; */
    /* width: 50px; */
  }
  .navbar .active{
   
    font-size: 1rem;
    /* padding: 10px; */
    /* width: 50px; */
  }
}
