.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #c3cacc54;
}

.footer span {
  text-decoration: underline;
}
